<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lf.backmanage.mapper.UserMapper">

    <!--插入-->
    <insert id="insert" parameterType="com.lf.backmanage.entity.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user(
             username,
            password,
            nickname,
            age,
            sex,
            address
        ) values (
                #{username},
                #{password},
                #{nickname} ,
                #{age} ,
                #{sex} ,
                #{address}  )
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.lf.backmanage.entity.User" >
        update user set username = #{username},
              password = #{password},
              nickname = #{nickname},
              age = #{age},
              sex = #{sex},
              address =#{address}
        where id=#{id}

    </update>

    <select id="findOneById" resultType="com.lf.backmanage.entity.User">
        select  * from user where id=#{id} limit 1
    </select>
<!--    resultMap="BaseResultMap"-->
<!--    分页查询-->
    <select id="findByPage"  resultType="com.lf.backmanage.entity.User" parameterType="map">
        select * from user
        where 1=1
        <if test="age != null">
            and age = #{age}
        </if>
    </select>

    <select id="findAll" resultType="com.lf.backmanage.entity.User">
        select * from user
    </select>
</mapper>