<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lf.backmanage.mapper.UserRolerMapper">

    <!--插入-->
    <insert id="insert" parameterType="com.lf.backmanage.entity.UserRoler" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into userroler(
                              name,
                              status,
                              remark
        )
        value (
            #{name},
            #{status},
            #{remark}
        )


    </insert>
    <select id="findOneById" resultType="com.lf.backmanage.entity.UserRoler">
        select  * from userroler where id=#{id} limit 1
    </select>
    <select id="findAll" resultType="com.lf.backmanage.entity.User">
        select * from userroler
    </select>
</mapper>